<ion-view>
    <ion-nav-title>
        <img class="title-image" src="img/logo.png" />
    </ion-nav-title>

    <ion-content padding="10">

        <div class="list">
            <div class="padding text-center">
                <h4>CHANGE PASSWORD</h4>
            </div>
            <form method="post" class="form-bg" ng-submit="submitForm(postForm.$valid)" name="postForm" novalidate>
                <label class="item item-input input-item-css">
                    <input  required ng-model="user.old_password" name="oldpassword" type="password" placeholder="Old Password" form-validate-after>
                </label>
                <span ng-message class="warning-message-normal" ng-show="postForm.old_password.$invalid && postForm.old_password.$dirty">Required</span>
                
                <label class="item item-input input-item-css">
                    <input  required ng-model="user.new_password" name="password" type="password" placeholder="New Password" form-validate-after>
                </label>
                <span ng-message class="warning-message-normal" ng-show="postForm.new_password.$invalid && postForm.new_password.$dirty">Required</span>

                <label class="item item-input input-item-css">
                    <input required ng-model="user.confpassword" name="confpassword" compare-to="user.new_password" type="password" placeholder="Confirm New Password" form-validate-after>
                </label>
                <span ng-message class="warning-message-normal" ng-show="postForm.confpassword.$invalid && postForm.confpassword.$dirty">Required</span>
                <span ng-message class="warning-message-normal" ng-show="postForm.confpassword.$error.compareTo">Passwords don't match. </span>

                <div class="padding"></div>
                <div class="padding">
                    <button type="submit" class="button button-block button-{{appColor}}">
                        SUBMIT 
                    </button>
                </div>

            </form>
        </div>
    </ion-content>
</ion-view>