<ion-view>
    <ion-nav-title>
        <img class="title-image" src="img/logo.png" />
    </ion-nav-title>
    <ion-content padding="10" class="bg-color">
        <div class="list">
            <div class="padding text-center">
                <h4 class="color-white">Forgot Password</h4>
            </div>
            <form method="post" class="form-bg" ng-submit="submitForm(postForm.$valid)" name="postForm" novalidate>
                <label class="item item-input input-item-css">
                    <input class="inputcss" required type="email" ng-model="user.email" name="email" placeholder="Email Address" value="">
                    <span class="icon"><i class="fa fa-user"></i></span>
                </label>
                <span ng-message class="warning-message-normal" ng-show="postForm.email.$error.required && postForm.email.$dirty">Required</span>
                <span ng-message class="warning-message-normal" ng-show="postForm.email.$error.email && postForm.email.$dirty">This is not a valid email.</span>
                <div class="padding">
                    <button type="submit"  class="button button-block button-{{appColor}}">
                        SUBMIT
                    </button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>