<ion-view>
    <ion-nav-title>
        <img class="title-image" src="img/logo.png" />
    </ion-nav-title>
    <ion-content padding="10">
        <div class="padding"></div>
        <!--ng-repeat="item in items"--> 
        <div style="max-height:{{height}}px;overflow-x: scroll" > 
            <ion-list class="messageList">
                <ion-item ng-repeat="data in messages">
                    <a href="#/app/reply_message?msg_id={{data.msg_id}}" ><h2 class=" " ng-class="getFavClassIcon(data.msg_rec_id,data.msg_status,data.totl_count)"> {{data.u_username| capitalize}} <span class="pull-right">{{data.time_ago}}</span></h2> </a>
                </ion-item>
                <ion-item ng-show="!messages.length">
                    NO Record Found.
                </ion-item>
            </ion-list>
        </div>
        <div class="padding"></div>

        <div class="padding onebtncss text-center marginleft25">
            <a href="#app/home" class="button button-block button-dark" ng-click=""> Home </a>
        </div>
    </ion-content>
</ion-view>