<ion-view view-title="">
    <ion-header-bar style=" background:#0188cc;" class="set-header">
        <div class="buttons">
            <a class="button button-icon ion-arrow-left-c back-btn"  href="#/"></a>
        </div>
    </ion-header-bar>
    <ion-content padding="10" class="bg-color">

        <div class="list">
            <div class="padding text-center">
                <h4 class="color-white">SIGN IN</h4>
            </div>
            <form method="post" class="form-bg" ng-submit="submitForm(postForm.$valid)" name="postForm" novalidate>
                <label class="item item-input input-item-css">
                    <input class="inputcss" required type="text" ng-model="user.username" name="username" placeholder="Userid" value="" >
                    <span class="icon"><i class="fa fa-user"></i></span>
                </label>
                <span ng-message class="warning-message-normal" ng-show="postForm.userid.$error.required && postForm.userid.$dirty">Required</span>
                <!--<span ng-message class="warning-message-normal" ng-show="postForm.email.$error.email && postForm.email.$dirty">This is not a valid email.</span>-->
                <label class="item item-input input-item-css">
                    <input class="inputcss" required ng-model="user.password" name="password" type="password" placeholder="Password">
                    <span class="icon"><i class="fa fa-lock"></i></span>
                </label>
                <span ng-message class="warning-message-normal" ng-show="postForm.password.$invalid && postForm.password.$dirty">Required</span>
                <div class="padding text-right"><a href="">Forgot Password ?</a></div>
                <div class="padding">
                    <button type="submit"   class="button button-block button-{{appColor}}">
                        SIGN IN
                    </button>
                </div>
                <div class="padding text-center">Don't have an account ?</div>
                <div class="padding text-center" ng-click="signup()"><a href="">SIGN UP TODAY</a></div>
            </form>
        </div>
    </ion-content>
</ion-view>