<ion-content padding="10" >
    <div class="list">
        <form method="post" class="invtform" ng-submit="submitForm(postForm.$valid)" name="postForm" novalidate>
            
            <label class="item item-input">
                <h2 class="leftside">Name</h2>
                <input required type="text" class="inputbrd" ng-model="user.name" name="name"  placeholder="Full name" value="From {{user.name}}  " form-validate-after>
            </label>
            <span ng-message class="warning-message-normal" ng-show="postForm.name.$error.required && postForm.name.$dirty">Required</span>
            
            <label class="item item-input">
                <h2 class="leftside">Code </h2>
                <input  required ng-model="user.code" class="inputbrd" name="code" type="text" placeholder="Code" form-validate-after>
            </label>
            <span ng-message class="warning-message-normal" ng-show="postForm.code.$invalid && postForm.code.$dirty">Required</span>

            <label class="item item-input">
                <h2 class="leftside">Group </h2>
                <select name="group_id" required  ng-model="user.group_id" class="inputbrd" >
                    <!--<option  value="{{group}}" ng-selected="group!=''" >{{group}}</option>-->
                    <option ng-repeat="x in groups"  value="{{x.g_name}}">{{x.g_name}}</option>
                    <option value="1">Add New Group</option>
                </select>
            </label>
            <label class="item item-input" ng-if="user.group_id == 1">
                <h2 class="leftside"> </h2>
                <input  ng-model="user.group" class="inputbrd" name="group"  type="text" placeholder="Group Name" form-validate-after>
            </label>
            <span ng-message class="warning-message-normal" ng-show="postForm.group_id.$invalid && postForm.group.$dirty">Required</span>
            <div class="padding"></div>
        </form>
    </div>
</ion-content>