<ion-view view-title="SEND INVITATION">
    <ion-nav-title>
        <img class="title-image" src="img/logo.png" />
    </ion-nav-title>
    <ion-content padding="10">
        <div class="list">
            <form method="post" class="invtform" ng-submit="submitForm(postForm.$valid)" name="postForm" novalidate>
                <label class="item item-input" ng-show="Onsubmit">
                    <h2 class="leftside"> </h2>
                    <ul>
                        <li ng-repeat="(key, errors) in postForm.$error track by $index"> 
                            <ul>
                                <li class="warning-message-normal" ng-repeat="e in errors">{{ e.$name | capitalize }} has an error: <strong>{{ key}}</strong>.</li>
                            </ul>
                        </li>
                    </ul>
                </label>
                <label class="item item-input">
                    <h2 class="leftside">Name </h2>
                    <input required type="text" class="inputbrd" ng-model="user.name" name="name" placeholder="Name" value="" form-validate-after>
                </label>
                <span ng-message class="warning-message-normal" ng-show="postForm.name.$error.required && postForm.name.$dirty">Required</span>
                <label class="item item-input">
                    <h2 class="leftside">Email </h2>
                    <input required type="email" class="inputbrd" ng-model="user.email" name="email" placeholder="Email Address" value="" form-validate-after>
                </label>
                <span ng-message class="warning-message-normal" ng-show="postForm.email.$error.required && postForm.email.$dirty">Required</span>
                <span ng-message class="warning-message-normal" ng-show="postForm.email.$error.email && postForm.email.$dirty">This is not a valid email.</span>
                <label class="item item-input">
                    <h2 class="leftside">Group </h2>
                    <select name="group_id" ng-model="user.group_id" class="inputbrd" >
                        <option ng-repeat="x in groups"  value="{{x.g_name}}">{{x.g_name}}</option>
                        <option value="1">Add New Group</option>
                    </select>
                </label>
                <label class="item item-input" ng-if="user.group_id == 1">
                    <h2 class="leftside"> </h2>
                    <input  ng-model="user.group" class="inputbrd" name="group"  type="text" placeholder="Group Name" form-validate-after>
                </label>
                <span ng-message class="warning-message-normal" ng-show="postForm.group_id.$error.required">Required</span>
                <div class="padding"></div>
                <div class="padding onebtncss">
                    <button type="submit" class="button button-block button-{{appColor}}" ng-click="postForm.$valid"> Send </button>
                </div>
                <div class="padding onebtncss">
                    <a href="#/app/home" class="button button-block button-dark"> Home </a>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>